<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@jsfns</title>
    <%- await include('assets/base-css'); %> <%- await include('assets/landing-css'); %>
  </head>

  <body>
    <main>
      <h1>@jsfns</h1>
      <% packages.forEach(({name, version}) => { %>
      <a class="package-link" href="./<%= name %>/<%= version %>">/<%= name %></a>
      <% }); %>
    </main>
  </body>
</html>
