<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Refresh" content="0; ./<%= version %>" />
    <%- await include('assets/base-css'); %>
    <script>
      location.assign(`./${location.pathname.split('/').pop()}/<%= version %>${location.hash}`);
    </script>
  </head>

  <body>
    <p>
      <a href="./<%= version %>">Go to latest version of <b><%= packageName %></b></a>
    </p>
  </body>
</html>
